<div class="well">
  <form class="form-horizontal" name="gitform" #FormGit (ngSubmit)="OnClickGitRepo()">
    <!--<label>Enter User Name.</label>-->
    <!--<input type="text" name="User_Name" required #USER >-->
    <button>Submit</button>
  </form>
</div>

<!--<div>-->
  <!--<form name="DetailsForm" #DetailsForm>
  <select #DropDown>
    <option *ngFor="let item of ProList; let i=index" value="{{i}}" required>{{item}}</option>
    </select>
  <button (click)="getdetails(DropDown.value)">Details</button>-->
  <!--</form>-->
  <!--<table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Private Status</th>
      <th>URL</th>
      <th>Size</th>
      <th>Language</th>
      <th>Default Branch</th>
    </thead>
    <tbody>
      <tr>
        <td>{{id}}</td>
        <td>{{Pri_Status}}</td>
        <td>{{Pro_url}}</td>
        <td>{{Size}}</td>
        <td>{{language}}</td>
        <td>{{branch}}</td>
        <td><a class="btn btn-success" href="{{Pro_url}}" target="_blank">For More Information, Click Here.</a></td>
      </tr>
    </tbody>
  </table>-->
<!--</div>-->
