<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li> <a routerLink='/gitinfo' routerLinkActive="active">Git User</a></li>
    <li> <a routerLink='/search-git' routerLinkActive="active">Git Search</a></li>
    <li> <a routerLink='/searchallprojects' routerLinkActive="active">Git Projects</a></li>
    <li> <a routerLink='/searchmongo' routerLinkActive="active">Mongo search</a></li>
      <li> <a routerLink='/postmongo' routerLinkActive="active">Mongo Post</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
